<h1>Project   |    <%= @project.title %></h1>
<%= link_to "Back To Project", project_path(@project) %>
<p><%= link_to "Click here", new_project_task_path %> to create a new task.</p>
<% if @tasks.empty? %>
  <p>You don't have any tasks yet.</p>
<% else %>
  
  <%= form_tag("/projects/#{@project.id}/tasks", method: 'GET') do %>
    <%= text_field_tag :q %>
    <%= submit_tag "Search" %>
  <% end %>

  <p>Current Tasks: </p>
  <% @tasks.each do |task| %>
  <div class="task">
    <%= link_to task.title, project_task_path(@project, task) %>
  </div>
  <% end %>
<% end %>