<%= render partial: 'errors/errors', locals: {resource: project} %>
<%= form_for project do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <h5>Add User to the project</h5>
  Username  :<%= text_field_tag :username %><br>
  Role   :<%= text_field_tag :role %><br>

  <%= f.submit %>
<% end %>