<h2><%= link_to project.title, project_path(project) %><h2>
<% if project.project_manager == current_user %>
  <%= link_to 'Edit', edit_project_path(project) %> |
  <%= link_to 'Destroy', project , method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<h3>Project Manager: <%= project.project_manager.username %></h3>
<h4>There are currently <%= project.users.count %> project members.</h4>
<h4>There are currently <%= project.tasks.count %> tasks in this project.</h4>
<p><%= link_to "Click Here", new_project_task_path(project) %> to create a new task.</p>
<% if project.tasks.any? %>
  <p><%= link_to "View current tasks", project_tasks_path(project) %></p>
<% end %>
<hr>