<br>
<h2><%= current_user.username %>'s projects</h2>
<h3><%= link_to "Click here", new_project_path %> to create a new project.</h3>

<hr>

<%= form_tag( '/projects', method: 'GET') do %>
  <%= text_field_tag (:q) %>
  <%= submit_tag  "search", name: nil %>
<% end %>

<% if @projects.empty? %>
  <p>You don't have any projects yet.</p>
<% else %>
  <% @projects.each do |project| %>
    <%= render partial: 'project', locals: {project: project} %>
  <% end %>
<% end %>